{% extends "base.html" %}

{% block splash %}

<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-2">Fluid Jumbotron Placeholder</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <button class="btn btn-lg btn-info mt-2">Get Started Now</button>

  </div>
</div>

{% endblock splash %}

{% block content %}

<!-- begin section 1 -->
<section id="sec1" class="sec1">

  <div class="container">

    <div class="section-heading">
      <h1 class="display-4 text-center mt-4">Section One</h1>
      <p class="lead text-center">Section lead paragraph text.</p>
    </div>

    <div class="row pt-5">

      <div class="col mb-3">
        <h3 class="h3">Left Column Heading</h3>
        <p>Praesentium corrupti nunc vulputate! Lorem sociosqu facilisi nam voluptate officia accusamus possimus, blandit, elementum similique voluptate, mollitia dignissim lacinia auctor, excepteur sit similique praesentium, consequatur class dignissim. Nemo doloremque.</p>
        <p>Fames lorem ipsum dolor sit amet consectectur elit facilisi. Id egestas purus! Minim eveniet felis, nobis optio eos officiis, lorem cursus, feugiat iure libero! Saepe, distinctio incididunt rhoncus.</p>
        <button class="btn btn-info">Dummy Button</button>
      </div>

      <div class="col mb-3">
        <h3 class="h3">Right Column Heading</h3>
        <p>Fames lorem ipsum dolor sit amet consectectur elit facilisi. Lorem dictum quam nec quibusdam arcu! Sapien litora, exercitation mollis! Assumenda similique rhoncus erat molestias, pellentesque provident vitae?</p>
        <p>Tempor harum, consequuntur mollitia tellus praesentium maecenas iure quae. Occaecat, rerum metus, excepteur sit similique praesentium, consequatur dictum elit anim.</p>
        <button class="btn btn-info">Dummy Button</button>
      </div>

    </div>

    <div class="row pt-5 mb-3">

      <div class="col-12">
        <h3 class="h3">Full Width Column Heading</h3>
        <p>Lorem dictum quam nec quibusdam arcu! Sapien litora, exercitation mollis! Assumenda similique rhoncus erat molestias, pellentesque provident vitae? Tempor harum, consequuntur mollitia tellus praesentium maecenas iure quae. Occaecat, rerum metus. Praesentium corrupti nunc vulputate! Lorem sociosqu facilisi nam voluptate officia accusamus possimus, blandit, elementum similique voluptate, mollitia dignissim lacinia auctor, excepteur sit similique praesentium, consequatur class dignissim. Nemo doloremque. Praesentium corrupti nunc vulputate! Lorem sociosqu facilisi nam voluptate officia accusamus possimus, blandit, elementum similique voluptate, mollitia dignissim lacinia auctor, excepteur sit similique praesentium, consequatur class dignissim. Nemo doloremque. Fames lorem ipsum dolor sit amet consectectur elit facilisi.</p>
        <button class="btn btn-info">Dummy Button</button>
      </div>

    </div>

  </div>

</section>
<!-- /end section 1 -->

<!-- begin section 2 -->
<section id="sec2" class="sec2">

  <div class="container">

    <div class="section-heading">
      <h1 class="display-4 text-center mt-4">Section Two</h1>
      <p class="lead text-center">Section lead paragraph text.</p>
    </div>

    <div class="row pt-5 mb-5">

      <div class="col-8">
        <h3 class="h3">Left Column Heading</h3>
        <p>Lorem dictum quam nec quibusdam arcu! Sapien litora, exercitation mollis! Assumenda dolor similique rhoncus erat molestias, pellentesque provident vitae? Tempor consectectur harum, consequuntur amet mollitia tellus praesentium sit quam maecenas iure quae. Occaecat, rerum metus elit mollis.</p>
        <p>Praesentium corrupti nunc vulputate! Lorem sociosqu facilisi nam voluptate officia accusamus possimus, blandit, elementum similique voluptate, mollitia dignissim lacinia auctor, excepteur sit similique praesentium, consequatur class dignissim. Nemo doloremque. Fames.</p>
        <button class="btn btn-info">Dummy Button</button>
      </div>

      <div class="col-4 pt-2">
        <img class="img-fluid img-thumbnail float-right" src="http://placehold.it/250x250">
      </div>

    </div>

    <div class="row pt-5">

      <div class="col-4 pt-2">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/250x250">
      </div>

      <div class="col-8">
        <h3 class="h3">Right Column Heading</h3>
        <p>Lorem dictum quam nec quibusdam arcu! Sapien litora, exercitation mollis! Assumenda dolor similique rhoncus erat molestias, pellentesque provident vitae? Tempor consectectur harum, consequuntur amet mollitia tellus praesentium sit quam maecenas iure quae. Occaecat, rerum metus elit mollis.</p>
        <p>Praesentium corrupti nunc vulputate! Lorem sociosqu facilisi nam voluptate officia accusamus possimus, blandit, elementum similique voluptate, mollitia dignissim lacinia auctor, excepteur sit similique praesentium, consequatur class dignissim. Nemo doloremque. Fames.</p>
        <button class="btn btn-info">Dummy Button</button>
      </div>

    </div>

  </div>

</section>
<!-- /end section 2 -->

<!-- begin section 3 -->
<section id="sec3" class="sec3">

  <div class="container">

    <div class="section-heading">
      <h1 class="display-4 text-center mt-4">Section Three</h1>
      <p class="lead text-center">Section lead paragraph text.</p>
    </div>

    <div class="row">
      <div class="mr-auto col-md-10 ml-auto"><p class="lead text-center">Fames lorem ipsum dolor sit amet consectectur elit facilisi. Id egestas purus! Minim eveniet felis, nobis optio eos officiis, lorem cursus, feugiat iure libero! Saepe, distinctio incididunt rhoncus.</p></div>
    </div>

    <div class="row text-center pt-5 pb-3">

      <div class="col-3 pt-2">
        <img class="img-fluid img-thumbnail mx-auto d-block" src="http://placehold.it/250x250">
        <h5 class="pt-2">Responsive Image One</h5>
      </div>

      <div class="col-3 pt-2">
        <img class="img-fluid img-thumbnail mx-auto d-block" src="http://placehold.it/250x250">
        <h5 class="pt-2">Responsive Image Two</h5>
      </div>

      <div class="col-3 pt-2">
        <img class="img-fluid img-thumbnail mx-auto d-block" src="http://placehold.it/250x250">
        <h5 class="pt-2">Responsive Image Three</h5>
      </div>

      <div class="col-3 pt-2">
        <img class="img-fluid img-thumbnail mx-auto d-block" src="http://placehold.it/250x250">
        <h5 class="pt-2">Responsive Image Four</h5>
      </div>

    </div>

    <div class="row pt-5 mb-3">

      <div class="col">
        <h3 class="text-center">Column One</h3>
        <p class="text-justify">Lorem elit dictum quam nec quibusdam arcu! Sapien litora, exercitation mollis! Assumenda similique rhoncus erat molestias.</p>
        <button class="btn btn-info mx-auto d-block">Dummy Button</button>
      </div>

      <div class="col">
        <h3 class="text-center">Column Two</h3>
        <p class="text-justify">Lorem elit dictum quam nec quibusdam arcu! Sapien litora, exercitation mollis! Assumenda similique rhoncus erat molestias.</p>
        <button class="btn btn-info mx-auto d-block">Dummy Button</button>
      </div>

      <div class="col">
        <h3 class="text-center">Column Three</h3>
        <p class="text-justify">Lorem elit dictum quam nec quibusdam arcu! Sapien litora, exercitation mollis! Assumenda similique rhoncus erat molestias.</p>
        <button class="btn btn-info mx-auto d-block">Dummy Button</button>
      </div>

      <div class="col">
        <h3 class="text-center">Column Four</h3>
        <p class="text-justify">Lorem elit dictum quam nec quibusdam arcu! Sapien litora, exercitation mollis! Assumenda similique rhoncus erat molestias.</p>
        <button class="btn btn-info mx-auto d-block">Dummy Button</button>
      </div>

    </div>

  </div>

</section>
<!-- /end section 3 -->

{% endblock content %}
