{% extends "base.html" %}

{% block content %}

<section id="page" class="page">

  <div class="container">

    <div class="section-heading">
      <h1 class="display-4 text-center mt-4">Page Template</h1>
      <p class="lead text-center">Section lead paragraph text.</p>
    </div>

    <div class="row pb-5">
      <div class="mr-auto col-md-10 ml-auto"><p class="lead text-center">Fames lorem ipsum dolor sit amet consectectur elit facilisi. Id egestas purus! Minim eveniet felis, nobis optio eos officiis, lorem cursus, feugiat iure libero! Saepe, distinctio incididunt rhoncus.</p></div>
    </div>

  </div>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row mt-5">

      <div class="col-lg-4">
        <div class="p-5 fa fa-home fa-5x mb-4"></div>
          <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <div class="p-5 fa fa-css3 fa-5x mb-4"></div>
          <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <div class="p-5 fa fa-code fa-5x mb-4"></div>
          <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">

      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <div class="col-md-5">
        <img class="featurette-image img-fluid img-thumbnail mx-auto" src="http://placehold.it/500x500" alt="Generic placeholder image">
      </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">

      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid img-thumbnail mx-auto" src="http://placehold.it/500x500" alt="Generic placeholder image">
      </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">

      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <div class="col-md-5">
        <img class="featurette-image img-fluid img-thumbnail mx-auto" src="http://placehold.it/500x500" alt="Generic placeholder image">
      </div>

    </div>

    <hr class="featurette-divider">

    <div class="row pb-5">
      <div class="mr-auto col-md-10 ml-auto"><p class="lead text-center">Molestie nihil fermentum, donec quod nobis neque maecenas quos, pretium hendrerit aenean! Cillum ullamco facilis conubia voluptate dictumst duis ea, auctor, dolor, ex, odio mauris sit cupidatat adipisci repellat! Mauris sapiente consectetuer cupiditate atque wisi laboris bibendum, platea? Leo tellus porro? Pariatur magna, necessitatibus nisi vehicula repudiandae semper cumque.</p></div>
    </div>

</section>

{% endblock content %}
